<section class="container section-login">
  <div class="container-login">
      <h1 class="title">Login</h1>
      <p>Insira os detalhes da sua conta</p>
      <form class="section-login-form">

        <div class="section-login-form">
          <input type="email" id="email" placeholder required>
          <label for="email">Email</label>
        </div>

        <div class="section-login-form">
          <input type="password" id="password" placeholder required>
          <label for="password">Password</label>
        </div>

        <a class="forgot-password">Esqueceu sua senha?</a>

        <button class="buttons submit" type="submit">Login</button>
      </form>
      <p class="buttons facebook-login">Continuar com o Facebook <img src="./assets/icons/facebook.png" alt="facebook" width="20px" height="20px"></p>
      <p class="buttons google-login">Continuar com o Google <img src="./assets/icons/google.png" alt="google" width="20px" height="20px"></p>
  </div>

    <a class="sign-up">
      Não tem uma conta? <span>Inscreva-se</span>
    </a>

  </section>

  <section class="section-art sky">
    <section class="section-text">
     <div>
      <p class="section-text-title">Bem vindo ao</p>
      <span>BIBLIOTEX</span>
      <p class="section-text-describe">Faça login para acessar todas as funcionalidades</p>
     </div>
    </section>
    <section class="section-img">
      <img class="art-login" src="./assets/imgs/art_login.png" alt="Imagem ilustrativa" width="678px" height="544px">
    </section>

    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
  </section>
