<section class="container section-login">
  <div class="container-login">
      <h1 class="title">Login</h1>
      <p>Insira os detalhes da sua conta</p>
      <form class="section-login-form">
        <label for="email">Email</label>
        <input type="email" id="email">

        <label for="password">Password</label>
        <input type="password" id="password" visi>

        <a class="forgot-password">Esqueceu sua senha?</a>

        <button class="buttons submit" type="submit">Login</button>
      </form>
      <p class="buttons facebook-login">Continuar com o Facebook <img src="./assets/icons/facebook.png" alt="facebook" width="20px" height="20px"></p>
      <p class="buttons google-login">Continuar com o Google <img src="./assets/icons/google.png" alt="google" width="20px" height="20px"></p>
  </div>

    <a class="sign-up">
      Não tem uma conta? <span>Inscreva-se</span>
    </a>
  </section>

  <section class="section-art">
    <img class="art-login" src="./assets/imgs/art_login.png" alt="Imagem ilustrativa" width="628px" height="514px">
  </section>
